<div class="no-page-break">
    {% if business.legalType != alteration.nameRequest.legalType %}
        <div class="separator mt-4"></div>
        <div class="section-title mt-4">Change of Business Type</div>
        <div class="section-data mt-4">        
            Changing from a 
            {% if business.legalType == 'BEN' %}
                Benefit 
            {% else %}
                {{business.legalType}} 
            {% endif %}
            Company to a 
            {% if alteration.nameRequest.legalType == 'BEN' %}
                <b> Benefit </b>
            {% else %}
                <b> {{alteration.nameRequest.legalType}} </b>
            {% endif %}
            <b>Company.</b> 
            <div class="section-data mt-4">   
                <table class="section-data-table">
                    <tr class="no-page-break">
                    <td><div class="title"><b>Incorporation Number</b></div>
                        <div>{{ business.identifier }}</div>
                    </td>
                    <td><div class="title"><b>Name of Company </b></div>
                        <div>{{business.legalName}}</div>
                    </td>          
                    </tr>         
                </table>
            </div>
            <div class="section-data mt-4">
                <div class="section-title mt-4">Benefit Company Statement</div>
                This company is a benefit company and, as such, has purposes that include conducting its
                business in a responsible and sustainable manner and promoting one or more public benefits.
            </div>
        </div>
    {% endif %}
</div>